/*  leandro.zambelli@yahoo.com
    2017
    v2.0.1
*/


@import url('https://fonts.googleapis.com/css?family=Raleway:300|Roboto:300');

body { font-family: 'roboto', sans-serif; overflow-x: hidden }


/* =BOOTSTRAP RESET
 */

nav { transition: all linear 0.2s }

.navbar-dark .navbar-nav .nav-link { color: #fff; font-size: 0.95em }
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { color: indianred; }
.navbar-dark .navbar-toggler { background: #000; border-color: #000 }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width:767px){
    .nav-item:first-child { margin-top: 10px}
    .nav-item { border-top: 1px dashed #333; }
    .nav-link { padding: 14px }
}

ul { padding-left: 20px }

.btn { border-radius: 3px; padding:15px 50px 16px 50px }
.btn-sm, .btn-group-sm > .btn { padding: 9px 50px 10px 50px; font-size: 0.875rem }

.btn-secondary{background-color: #18216E; border-color: #18216E}
.btn-secondary:hover{background-color: #121954; border-color: #121954}
.btn-secondary:focus, .btn-secondary.focus {box-shadow: 0 0 0 0.2rem #0f1443}
.btn-secondary.disabled, .btn-secondary:disabled {background-color: #18216E; border-color: #18216E}

.btn-outline-dark{ border-color: #000 !important; color: #000}
.btn-outline-dark:hover{background-color: #111; border-color: #111}
.btn-outline-dark:focus, .btn-secondary.focus {box-shadow: 0 0 0 0.2rem #222}
.btn-outline-dark.disabled, .btn-secondary:disabled {background-color: #333; border-color: #333}

[class*="btn-outline"] { border:2px solid }

.card { margin-bottom: 19px; padding: 20px; border: none; box-shadow: 10px 10px 50px #ddd; }
.card-img-top { width: 150px; margin: 0 auto }
.card-text { font-size: 1em }

button { cursor: pointer }


/* =ANIMATION
*/

.animated { animation-duration: 1s; animation-fill-mode: both; }
.bounceInLeft { animation-name: bounceInLeft; }
.fadeIn { animation-name: fadeIn; }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to { animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; transform: translate3d(-3000px, 0, 0); }
  60% { opacity: 1; transform: translate3d(25px, 0, 0); }
  75% { transform: translate3d(-10px, 0, 0); }
  90% { transform: translate3d(5px, 0, 0); }
  to { transform: none; }
}



/* =CLASSES
 */

#map { margin:0; border: 0; width: 100%; height: 100%; position: absolute; top:0; z-index: 0}

.text-shadow { text-shadow: 0 0 10px #000 } /* cria sombra em qualquer texto branco */

/* uma porrada de background */
.bg-white { background: #fff }
.bg-black { background: #111 }
.bg-mask { background: url(../img/bg/mask.png) }
.bg-wood { background: #111 url(../img/bg/wood.jpg) no-repeat; background-size: cover; }
.bg-banner { background: url(../img/bg/banner.png) no-repeat right; background-size: cover; }
.bg-overlay { background: rgba(0,0,0,0.5) }

/* usado em baixo de alguns titulos */
.line { height: 1px; width:70px; margin:10px auto 66px auto; background:#ccc }

.padding-nav { padding-top: 29px; padding-bottom: 29px } /* usado para aumentar a nav, ou diminuir em scroll */
.padding-header { padding-top: 150px; padding-bottom: 150px } /* usado para dar espaco ao conteudo do banner */
.padding-content { padding-top: 100px; padding-bottom: 100px } /* usado para dar espaco ao conteudo */

@media (max-width: 767px) {

    .padding-header { padding-top: 66px; padding-bottom: 66px }
}

@media (max-width: 991px) {
    /* cria um box no banner para facilitar a leitura sobre a imagem */
    .box { padding: 40px; background: rgba(0,0,0,0.6); border-radius: 3px }
}

.space { margin-top: 66px } /* cria espaco entre itens, seguindo a proporcao do padding-content */

.relative { position: relative } /* usado para deixar as divs relativas */

/* svg usados para decoracao das bordas das secoes contato e footer */
.svg-top { top: -2px; left: 0; width: 100%; fill: #111; z-index: 2;}
.svg-bottom { bottom: -7px; left: 0; width: 100%; fill: #111; z-index: 2}

/* informacoes de cores para os lacres */
.colors{list-style-type: none; padding-left: 0}
.colors li{padding: 19px;display: inline-block; border-radius: 100px; border: 1px solid #fff; position: relative}
.colors li:nth-child(1){background-color: darkblue; border-color: darkblue}
.colors li:nth-child(2){background-color: red; border-color: red }
.colors li:nth-child(3){background-color: yellow; border-color: yellow }
.colors li:nth-child(4){background-color: orange; border-color: orange}
.colors li:nth-child(5){background-color: green; border-color: green}
.colors li:nth-child(6){background-color: pink; border-color: pink}
.colors li:nth-child(7){background-color: purple; border-color: purple}
.colors li:nth-child(8){background-color: black; border-color: black}

.colors li span { display: none; position: absolute; top:-30px; left: 50%; margin-left: -40px; padding: 5px 5px; width: 80px; z-index: 2; background: #000; color: #fff; font-size: 0.85em; text-align: center; border-radius: 2px }
.colors li:hover span { display: block }

/* efeito de hover (lupa) nos produtos */
.more { position: absolute; background: rgba(0,0,0,0.3); padding: 24px 24px 25px 28px ; opacity: 0; transition: 0.2s linear; left: 50%; margin-left: -50px; color: #fff; border-radius: 200px }
.card-hover:hover .more { opacity: 1 }

/* card para a secao de contato */
.card-contact {margin: 0; box-shadow: none; position: relative; z-index: 2 }

.icon-lg { font-size: 3em } /* aumenta a fonte do material icon */
.link-light { color: #fff } /* deixa o link branco em fundos escuros */


/* =TYPOGRAPHY
 */

h1, h2, h3, h4, h5 { font-family: 'Raleway', sans-serif; color: #333}

h1 { font-size: 2.9em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.7em; }

p{ margin-bottom:1.6em; font-size:1.3em; line-height: 1.6em; font-weight: 300; color: #333}

a { transition: all ease 0.2s; color: #444; text-decoration: none!important }
a[href^="tel:"], a[href^="mailto:"] { color: #fff }
a:hover, a[href^="tel:"]:hover, a[href^="mailto:"]:hover { color: indianred}

@media (max-width: 575px){
    
    h1 { font-size: 2.4em }
    h2 { font-size: 1.9em }
    h3 { font-size: 1.4em }
    
    p { font-size: 1.2em }
    
}


/* =FOOTER
 */

footer { padding:75px 0 }
footer p{ font-size: 0.85em }
